body {

    font-family: "Raleway", Arial, sans-serif
    
}
#divwidth{
    max-width: 1500px;
}
img{
    width: 250px;
    height: 350px;
    border-radius: 20px;
}
div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}
#fullwidthpic{
    width: 100%;
    height: 350px;
}
button{
    border: 5px solid black;
    background-color: black;
    color: white;
    width: 120px;
    height: 50px;
    font-size: 1.5rem;
}
form{
    display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
}
button:hover{
    background-color: white;
    color:black;
    transition: 2s;
}

@media (max-width: 800px){
    div{
        display: flex;
        flex-direction: column-reverse;
    }
    
}